@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --text-primary: #25262A;
  --text-secondary: #555;
  --text-active: var(--active-color);

  --positive-color: #00E670;
  --negative-color: #FF1740;

  --background-primary: #FFFFFF;
  --background-secondary: #F3F4F6;

}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);

}


.CoinIcon{
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 0.5rem ;
  padding: auto 0;
}


.total-positive{
  border-left: 0.4rem solid var(--positive-color);
}
.total-passive{
  border-left: 0.4rem solid #777;
}
.positive{
  color: var(--positive-color);
}
.negative{
  color: var(--negative-color);
}
.passive{
  color: var(--text-primary);
}

.star{
  margin-right: 0.5rem;
}